<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Shopping Cart</title>
</head>

<body>
<!-- Start of Shopping Cart page -->
<div data-role="page" id="cart">
	<script id="lnItemTmpl" type="text/x-jsrender">
    <li><a href="#">
    	<img src={{>SmImage}}>
    	<h2>{{>Description}}</h2>
    	<p>Quantity:{{>Qty}} ~ Price: ${{>Price}}</p><span class="itemSKU" style="visibility: hidden;">{{>SKU}}</span> </a>
    	<a href="#delCartItem" data-rel="popup" data-position-to="window" data-transition="pop">Delete Item</a>
	</li>
    </script>
	<script id="test-cartTotalTmpl" type="text/x-jsrender">
			<h3 class="ui-bar ui-bar-a ui-corner-all">Total: {{:cartTotal}}</h3>
    </script>
	<script id="cartTotalTmpl" type="text/x-jsrender">
		{{if cartTotal > 0}}
			<h3 class="ui-bar ui-bar-a ui-corner-all">Total: {{:cartTotal}}</h3>
		{{else}}
			<h3 class="ui-bar ui-bar-a ui-corner-all">Cart is empty!</h3>		
		{{/if}}
    </script>
	<script id="cartTmpl" type="text/x-jsrender">
		{{if cartItems.length === 0}}
			<h3 class="ui-bar ui-bar-a ui-corner-all">Cart is empty!</h3>		
		{{else}}
			<ul data-role="listview" id="cartList" data-split-icon="delete" data-split-theme="a" data-inset="true">
				{{for cartItems tmpl="#lnItemTmpl" /}}
			</ul>
			<h3 class="ui-bar ui-bar-a ui-corner-all">Total: ${{:cTotal}}</h3>
			
		{{/if}}
        </ul>
        <div id="cartTotal"></div>
        <div data-role="popup" id="delCartItem" data-theme="a" data-overlay-theme="a" class="ui-content" style="max-width:320px; padding-bottom:2em;">
            <a href="#" id="deleter" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-a ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini">Delete this item?</a>
            <a href="#" id="canceler" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Cancel</a>
        </div>
		{{if cartTotal > 0}}
			<h3 class="ui-bar ui-bar-a ui-corner-all">Total: {{:cartTotal}}</h3>
		{{else}}
			<h3 class="ui-bar ui-bar-a ui-corner-all">Cart is empty!</h3>		
		{{/if}}
    </script>
    <script>
    	var template = $.templates("#lnItemTmpl");
		// JSON.stringify and saved in localStorage in JSON object again
		var cartItems = localStorage.cartItems? JSON.parse(localStorage.getItem('cartItems')) : [];
        //var htmlOutput = template.render(cartItems);
		
		// Calculate the total
		updateTotal();
		var cTotal = localStorage.cTotal? JSON.parse(localStorage["cTotal"]) : [];
		//get total
		//var totalTmpl = $.templates("#cartTotalTmpl");
		console.log(cTotal[0].cartTotal);
        //var htmlTotal = totalTmpl.render(cTotal);
		
		var cartTemplate = $.templates("#cartTmpl");
		var totalAmt = cTotal[0].cartTotal;
		
		// whole template
		var json = {
			"cartItems" : cartItems,
			"cTotal"    : totalAmt.toFixed(2)
		};
		var htmlOutput = cartTemplate.render(json);
		
        //$("#cartContent").html(htmlOutput);
        $("#cartContent").replaceWith(htmlOutput);
		// change this to code instead of a template
		//$("#cartTotal").replaceWith(htmlTotal);
    </script>
    
	<div data-role="header" data-theme="a">
		<h1>Shopping Cart</h1>
    		<a href="#home" data-icon="home"class="ui-btn-right">Home</a>
	</div><!-- /header -->

	<div data-role="content" data-theme="c">
        <ul data-role="listview" id="cartList" data-split-icon="delete" data-split-theme="a" data-inset="true">
            <div id="cartContent">
        		<!-- Cart content, or cart empty notice goes here -->
            </div>
        </ul>
        <div id="cartTotal"></div>
        <div data-role="popup" id="delCartItem" data-theme="a" data-overlay-theme="a" class="ui-content" style="max-width:320px; padding-bottom:2em;">
            <a href="#" id="deleter" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-a ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini">Delete this item?</a>
            <a href="#" id="canceler" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Cancel</a>
        </div>
	</div>    
     <a href="#" id="emptyCart" data-role="button" data-rel="back" data-theme="c">Delete all Items</a>    
   
    <a href="#contact" data-role="button" data-rel="back" data-theme="c">Back</a>    
	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4 style="font-size:smaller">&copy; LandRider 2014</h4>
	</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
